// Paleta de Cores
$white: #fafafa;
$light-gray: #e5e5e5;
$gray: #bababa;
$black: #0f0f0f;

// Green
$green-50: #309539;
$green-200: #2a8432;
$green-400: #236d29;
$green-600: #1a521f;
$green-700: #154219;
$green-750: #133a16;
$green-800: #0e2b10;

// Yellow
$yellow-50: #f7e0a6;
$yellow-400: #f0c453;
$yellow-600: #ecb220;
$yellow-700: #daa213;
$yellow-750: #cc9712;
$yellow-800: #be8d11;

// Purple
$purple-50: #b27af9;
$purple-150: #aa6bf8;
$purple-300: #9d55f7;
$purple-600: #8124f5;
$purple-700: #7511f4;
$purple-800: #6c0ae6;

// Font Sizes
$font-sm: 1rem; // 16px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
