#card-register {
  margin-top: 40px;
}

#card-register h1 {
  padding: 20px;
}

#card-register input {
  width: 100%;
  border-radius: 5px;
}

#card-register button {
  width: 100%;
  margin-top: 15px;
}
